.bg-green {
    background-color: #006B4D !important;
}
.bg-blue {
    background-color: #0c4797 !important;
}
.page-item.active
.page-link {
    z-index: 1;
    color: #fff;
    background-color: #006B4D;
    border-color: #467fd0;
}

.btn-primary {
    background-color: #006B4D;
}
.navbar-light
.navbar-brand {
    opacity: 1 !important;
    background-color: #f0f3f9 !important;
}

.btn-link {
    font-weight: 400;
    color:  #0c4797;
    text-decoration: none;
}